@import backends.{Album, Song, Artist}

@(album: Album, songs: List[Song], artist: Artist)(implicit request: SessionRequest)

@main("Альбомы") {

<ul class="breadcrumb">
    <li><a href="@{routes.Artists.id(artist.id)}">@{artist.name}</a></li>
    <li class="active">@{album.name}</li>
</ul>

<div class="col-md-7">
    <div class="jumbotron">
        <div class="pull-right">
            <a href="@{routes.Albums.edit(album.id)}" class="btn btn-default">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a href="@{routes.Albums.delete(album.id)}" class="btn btn-danger">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </div>

        <h2>@{album.name}</h2>
        <p>@{album.description}</p>
        <small class="pull-right">Википедия - свободная энциклопедия</small>
    </div>
</div>

<div class="col-md-5">

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Треки</h3>
        </div>
        <div class="list-group">
        @for(song <- songs) {
            <a href="@routes.Songs.id(song.id)" class="list-group-item">
                <div class="row">
                    <div class="col-md-4 col-xs-4">@{song.name}</div>
                    <div class="col-md-2 col-xs-2">
                        <span class="label label-default">@{"%d:%02d".format(song.durationSec / 60, song.durationSec % 60)}</span>
                    </div>
                    <div class="col-md-6 col-xs-6">
                      <span class="pull-right">
                        <span class="label label-info">@{artist.name}</span>
                        <span class="label label-info">@{album.name}</span>
                      </span>
                    </div>
                </div>
            </a>
        }
        </div>

        <div class="pull-right margin-top-small margin-right-small">
            <a href="@{routes.Songs.newSong(album.id, artist.id)}" class="btn btn-success">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>

    </div>

</div>
}
