@import backends.{Artist, Album}

@(artist: Artist, albums: List[Album])(implicit request: SessionRequest)

@main(artist.name) {

<div class="panel-body">

    <ul class="breadcrumb">
        <li class="active">@{artist.name}</li>
    </ul>

    <div class="col-md-7 jumbotron">
        <div class="pull-right">
            <a href="@{routes.Artists.edit(artist.id)}" class="btn btn-default">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a href="@{routes.Artists.delete(artist.id)}" class="btn btn-danger">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </div>

        <h2>@{artist.name}</h2>
        <p>
            <p>@{artist.description}</p>
            <small class="pull-right">Википедия — свободная энциклопедия</small>
        <p>
    </div>

    <div class="col-md-5">
        <div class="panel panel-info">

            <div class="panel-heading">
                <h3 class="panel-title">Альбомы</h3>
            </div>
            <div class="list-group">
            @for(album <- albums) {
                <a href="@{routes.Albums.id(album.id)}" class="list-group-item">
                    <p class="list-group-item-heading">@{album.name}</p>
                    <p class="list-group-item-text truncated">@{album.description}</p>
                </a>
            }
            </div>

            <div class="pull-right margin-top-small margin-right-small">
                <a href="@{routes.Albums.add(artist.id)}" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>

        </div>
    </div>
</div>

}
